.assignmentForm{
    width: 75vmin;
    min-height: 50vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: black;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

