.addMarks{
    width: 15vmin;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: black;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}