.table  {
    border: 1px solid white;
}
.th{
    border: 1px solid white;
}

.td{
    border: 1px solid white;
}
.instructorHome{
    text-align: center;
    background-image: url("../caps2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    background-position: center;
}

.insHomeComp{
    width: 90%;
    min-height: 50vh;
    display:inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: black;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-top: 10px;
}
.h2{
    color: crimson;
}