.loginForm{
    width: 75vmin;
    min-height: 50vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.logonDev{
    text-align: center;
    background-image: url("../graduation2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    background-position: center;
}
.btn {
    border: none;
    color: white;
    padding: 6px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size:calc(8px + 2vmin) ;
    margin-top: 20px;
}


