.loginForm{
    width: 75vmin;
    display: inline-list-item;
    align-items: center;
    font-size: calc(3px + 2vmin);
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.signUpDev{
    text-align: center;
    background-image: url("../graduation2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    background-position: center;
}
.label{
    display: block;
}
.input{
    display: block;
}
.label {
    margin-bottom: 20px;
}
