.App {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}


/*.logonNavigation {*/
    /*min-height: 500vh;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding-top: 2px;*/
    /*height: 100%;*/
    /*color: black;*/
/*}*/

h1 {
    color: aqua;
    background-color: black;
    background-size: cover;
    font-family: Jokerman, cursive;
}


